@import './base.css';

/* 重置css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,body：默认0 #app有内容撑开 */
/* 建立高度链：html → body → #app 全部 100% */
/* overflow防止出现意外滚动条 */
html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}